<div class="container" [style.textAlign]="'center'" [style.padding.px]="10">
  <div class="card">
    <div class="card-body">
      <div *ngIf="!hasVoted && !updating">
        <h2>Which is your favorite frontend framework?</h2>
        <h4>Click on the logos below to vote!</h4>
        <br>
        <div class="row">
          <div class="offset-md-3 col-md-2">
            <img src="../../assets/angular.png" height="96" alt="angular" (click)="vote('angularVoteCount')">
          </div>
          <div class="col-md-2">
            <img src="../../assets/react.png" height="96" alt="react" (click)="vote('reactVoteCount')">
          </div>
          <div class="col-md-2">
            <img src="../../assets/vue.png" height="96" alt="vue" (click)="vote('vueVoteCount')">
          </div>
        </div>
      </div>
      <div *ngIf="updating">
        <h3>
          Thanks. Redirecting to voting results ...
        </h3>
      </div>
      <div *ngIf="hasVoted" [style.textAlign]="'left'">
        <span class="badge badge-pill badge-danger mb-1">
          Agnular: {{angularVoteCount}} ( {{angularVotePercent}} %)
        </span>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="angularVotePercent"></div>
        </div>
        <span class="badge badge-pill badge-danger mb-1">
          React: {{reactVoteCount}} ( {{reactVotePercent}} %)
        </span>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="reactVotePercent"></div>
        </div>
        <span class="badge badge-pill badge-danger mb-1">
          Vue: {{vueVoteCount}} ( {{vueVotePercent}} %)
        </span>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="vueVotePercent"></div>
        </div>
      </div>
    </div>
  </div>
</div>